@model DataLayer.Tbl_Tickets
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "افزودن " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
}

<h2>افزودن @Html.DisplayNameFor(model => model)</h2>

@using (Html.BeginForm("Create", "Tbl_Tickets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Parent_id)


        @if (Model.Parent_id == null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.User_id, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("User_id", null,new { @class="form-controll"})
                    @Html.ValidationMessageFor(model => model.User_id)
                </div>
            </div>
        }
        else
        {
            DataLayer.Tbl_Users tbl_Users = ViewBag.User as DataLayer.Tbl_Users;
            <div class="col-xs-12">
                <span>ارسال تیکت به کاربر:</span><span>@tbl_Users.MobileNumber</span>
            </div>
            Html.Hidden("User_id", tbl_Users.UserID);
        }


        <div class="form-group">
            @Html.LabelFor(model => model.Subject, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Subject,new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.Subject)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text,new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>


        <div class="card-body">
            <label class="" for="Title">بارگیری فایل</label>
            <div class="col-md-10">
                @Html.Kendo().Upload().Name("attachTicketFileUpload").Multiple(true)
            </div>
        </div>



        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ایجاد" class="btn btn-primary" />
                @Html.ActionLink("بازگشت به فهرست", "Index")
            </div>
        </div>
    </div>
}

