@model ViewModels.RegisterViewModel
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = "ثبت نام";
    var captcha = Html.Captcha("کد امنیتی جدید", "", 4, "لطفا کد امنیتی را وارد کنید", false);

}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-4 offset-md-2 offset-lg-4 bg-white rounded-lg border-dark my-4 p-0 shadow" style="font-size:14px;">
            <h5 class="text-center p-2 pt-3">ثبت نام در هم آفرین</h5>
            <hr />
            @if (ViewBag.IsSuccess == null)
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="col-12 pl-0 pr-0">
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(model => model.MobileNumber, new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control ltr-text", @placeholder = "*شماره موبایل خود را وارد کنید", maxlength = "11" } })
                                @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control ltr-text", @placeholder = "*کلمه عبور را وارد کنید" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            @Html.LabelFor(model => model.RePassword, new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control ltr-text", @placeholder = "*تکرار کلمه عبور را وارد کنید" } })
                                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group mb-0">
                            <div class="col-12">
                                @captcha.RenderMarkup()
                                @Html.ValidationMessage(captcha.BuildInfo.InputElementId, new { @class = "error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-12">
                                <input type="submit" value="ارسال کد تائیدیه" class="btn btn-danger col-12" style="background-color:#ff1654" />
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="m-1" style="font-size:12px;">
                                با ثبت نام در هم آفرین کلیه <a href="/SiteTermsConditions" class="text-info"> قوانین و مقررات</a> استفاده از سایت را مطالعه کرده و پذیرفته ام.
                            </p>
                        </div>
                        <hr />
                        <div class="col-12">
                            <center>
                                <p class="col-12 pb-3 text-center font-size-small">
                                    قبلا در هم آفرین ثبت نام کرده اید؟ <a href="/Account/Login" class="text-info" style="border-bottom:1px dashed;">وارد شوید</a>
                                </p>
                                @*<p class="col-12 pb-3 mr-2">
                                        ورود با سجام <a href="/Account/SejamLogin" class="text-info" style="border-bottom:1px dashed;">وارد شوید</a>
                                    </p>*@
                            </center>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="container alert alert-success">
                    @*<h3>@Model.UserName عزیز !</h3>*@
                    <p>
                        حساب کاربری شما ایجاد شد برای ویرایش بروی دکمه زیر کلیک کنید
                    </p>
                    <a href="/UserPanel/UserProfile/Create" class="btn btn-orange btn-lg" style="font-size: 15px;">
                        ویرایش پرفایل <i class="icon-check"></i>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    @captcha.RenderScript()
}