@model ViewModels.ResetPasswordViewModel
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = "بازیابی کلمه عبور";
    var captcha = Html.Captcha("کد امنیتی جدید", "", 4, "لطفا کد امنیتی را وارد کنید", false);
}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-4 offset-md-2 offset-lg-4 bg-white rounded-lg border-dark my-4 p-0 shadow" style="font-size:14px;">
            <h5 class="text-center p-2 pt-3">بازیابی کلمه عبور</h5>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="col-12 pl-0 pr-0">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.UserToken)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control ltr-text", @placeholder = "*کلمه عبور را وارد کنید" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        @Html.LabelFor(model => model.RePassword, new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control ltr-text", @placeholder = "*تکرار کلمه عبور را وارد کنید" } })
                            @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <div class="col-12">
                            @captcha.RenderMarkup()
                            @Html.ValidationMessage(captcha.BuildInfo.InputElementId, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-12">
                            <input type="submit" value="تایید" class="btn btn-danger col-12" style="background-color:#ff1654" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    @captcha.RenderScript()
}