@model ViewModels.VerifySmsViewModel
@using CaptchaMvc.HtmlHelpers;

@{
    ViewBag.Title = "کد احراز هویت";
    var captcha = Html.Captcha("کد امنیتی جدید", "", 4, "لطفا کد امنیتی را وارد کنید", false);

}
@if (ViewBag.profile != null)
{
    <div>
        @ViewBag.profile
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-4 offset-md-2 offset-lg-4 bg-white rounded-lg border-dark my-4 p-0 shadow" style="font-size:14px;">
            <h3 class="text-center m-2 p-2">کد احراز هویت</h3>
            <hr />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.UserToken)
                <div class="text-center">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-12">
                            @Html.EditorFor(model => model.SmsCode, new { htmlAttributes = new { @class = "form-control ltr-text", @placeholder = "*کد ارسال شده را وارد کنید", @uifocus = "focus" } })
                            @Html.ValidationMessageFor(model => model.SmsCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div id="timeSms" style="font-size:12px">ارسال مجدد کد بعد از <span class="countdown text-danger"></span> دقیقه!</div>
                    <div id="SendSms" class="text-info" style="display:none;"> <a onclick="SendSms('@Model.UserToken')" href="#" style="border-bottom:1px dashed;">ارسال مجدد کد </a></div>
                    <div class="form-group mb-0">
                        <div class="col-12">
                            @captcha.RenderMarkup()
                            @Html.ValidationMessage(captcha.BuildInfo.InputElementId, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-12">
                            <input type="submit" value="تایید کد" class="btn btn-danger col-12" style="background-color:#ff1654" />
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

@section scripts
{
    @captcha.RenderScript()
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        var timer2 = "2:01";
        var interval = setInterval(function () {


            var timer = timer2.split(':');
            //by parsing integer, I avoid all extra string processing
            var minutes = parseInt(timer[0], 10);
            var seconds = parseInt(timer[1], 10);
            --seconds;
            minutes = (seconds < 0) ? --minutes : minutes;
            if (minutes < 0) clearInterval(interval);
            seconds = (seconds < 0) ? 59 : seconds;
            seconds = (seconds < 10) ? '0' + seconds : seconds;
            //minutes = (minutes < 10) ?  minutes : minutes;
            $('.countdown').html(minutes + ':' + seconds);
            timer2 = minutes + ':' + seconds;
            if (seconds == 0 && minutes == 0) {
                $('#timeSms').hide();
                $('#SendSms').css("display", "");
            }
        }, 1000);

        function SendSms(id) {
            $('#SendSms').hide();
            $.ajax({
                url: "/Account/SendSms/" + id,
                type: "Get"

            }).done(function (resault) {
                alert(resault.Message);
                location.reload();
                $('#timeSms').css("display", "");
                $('#SendSms').hide();

            });
        }

    </script>
}

