@model ViewModels.IntroductionCompanyViewModel

@{
    ViewBag.Title = "ویرایش " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.IntroductionCompanyTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IntroductionCompanyTitle)
                @Html.ValidationMessageFor(model => model.IntroductionCompanyTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntroductionCompanyDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IntroductionCompanyDescription)
                @Html.ValidationMessageFor(model => model.IntroductionCompanyDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IntroductionCompanyFullText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IntroductionCompanyFullText)
                @Html.ValidationMessageFor(model => model.IntroductionCompanyFullText)
            </div>
        </div>

        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


@section Scripts
{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/adapters/jquery.js"></script>
    <script>
        $(function () {
            $('#IntroductionCompanyFullText').ckeditor();
        });
    </script>

}