@model DataLayer.Tbl_Settings
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "تنظیمات سایت";
}

<h2>تنظیمات سایت</h2>

@using (Html.BeginForm("Edit", "Tbl_Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.SettingID)
    @Html.HiddenFor(model => model.Permits)
    @Html.HiddenFor(model => model.InvestmentProcess)
    @Html.HiddenFor(model => model.CapitalApplicationProcess)
    @Html.HiddenFor(model => model.CampaignProcess)
    @Html.HiddenFor(model => model.SiteTermsConditions)
    @Html.HiddenFor(model => model.Privacy)
    @Html.HiddenFor(model => model.WhatsappUrl)
    @Html.HiddenFor(model => model.RiskAlertStatement)
    @Html.HiddenFor(model => model.RiskAlertStatementFullText)
    @Html.HiddenFor(model => model.IntroductionCompanyTitle)
    @Html.HiddenFor(model => model.IntroductionCompanyDescription)
    @Html.HiddenFor(model => model.IntroductionCompanyFullText)

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.SiteTItle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SiteTItle)
                @Html.ValidationMessageFor(model => model.SiteTItle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SiteDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SiteDescription)
                @Html.ValidationMessageFor(model => model.SiteDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AboutUs, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.AboutUs)
                @Html.ValidationMessageFor(model => model.AboutUs)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactUs, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ContactUs)
                @Html.ValidationMessageFor(model => model.ContactUs)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Slogen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Slogen)
                @Html.ValidationMessageFor(model => model.Slogen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SiteLogo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Kendo().Upload().Name("logo")
                @if (Model.SiteLogo != null && Model.SiteLogo != "")
                {
                    <img src="/Images/SettingImages/Thumb/@Model.SiteLogo" style="max-width: 150px" class="thumbnail" />
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SiteRules, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SiteRules)
                @Html.ValidationMessageFor(model => model.SiteRules)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PartnershipAgreements, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PartnershipAgreements)
                @Html.ValidationMessageFor(model => model.PartnershipAgreements)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RiskWarningStatement, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RiskWarningStatement)
                @Html.ValidationMessageFor(model => model.RiskWarningStatement)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.InstagramUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InstagramUrl)
                @Html.ValidationMessageFor(model => model.InstagramUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AparatUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AparatUrl)
                @Html.ValidationMessageFor(model => model.AparatUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LinkedinUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LinkedinUrl)
                @Html.ValidationMessageFor(model => model.LinkedinUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvestmentRole, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvestmentRole)
                @Html.ValidationMessageFor(model => model.InvestmentRole)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinancingPageBanner, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Kendo().Upload().Name("financingPageBanner")
                @if (Model.FinancingPageBanner != null && Model.FinancingPageBanner != "")
                {
                    <img src="/Images/SettingImages/Image/@Model.FinancingPageBanner" style="max-width: 600px" class="thumbnail" />
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InverstmentPageBanner, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Kendo().Upload().Name("inverstmentPageBanner")
                @if (Model.InverstmentPageBanner != null && Model.InverstmentPageBanner != "")
                {
                    <img src="/Images/SettingImages/Image/@Model.InverstmentPageBanner" style="max-width: 600px" class="thumbnail" />
                }
            </div>
        </div>

        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت تغییرات" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts{

    <--> ck editor</-->
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/adapters/jquery.js"></script>
    <script>
        $(function () {
            $('#SiteRules').ckeditor();
            $('#AboutUs').ckeditor();
            $('#SiteRules').ckeditor();
            $('#ContactUs').ckeditor();
            $('#InvestmentRole').ckeditor();

        });
    </script>
}

