@model IPagedList<ViewModels.UserPaymentBusinessPlanList>
@using PagedList.Mvc
@using PagedList

<div class="container">

    <h4>سرمایه گذاری من</h4>
    <div class="row">
        <div class="col-12 col-md-4">
            <p class="small">دفعات سرمایه گذاری <span class="text-success pr-1">@ViewBag.Count</span> مرتبه</p>
        </div>
        <div class="col-12 col-md-4">
            <p class="small">
                سود شما <span class="text-success pr-1">
                    @if (ViewBag.DepositToInvestors != null)
                    {
                        <i>
                            @ViewBag.DepositToInvestors.ToString("#,##0")
                        </i>

                    }
                    else
                    {
                        <i>0</i>
                    }
                </span> تومان
            </p>
        </div>
        <div class="col-12 col-md-4">
            <p class="small">جمع کل سرمایه <span class="text-success pr-1">@ViewBag.TotalInvestment.ToString("#,##0")</span> تومان</p>
        </div>
    </div>
    <hr />
    @if (Model != null && Model.Count() > 0)
    {
        @*<table class="table table-striped border table-responsive text-center" style="font-size:12px">
                <thead class="pt-3 font-weight-bold text-white" style="background-color:#85b3be">
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            عنوان طرح
                        </td>
                        <td>
                            نام شرکت
                        </td>
                        <td>
                            وضعیت طرح
                        </td>
                        <td>
                            مبلغ واریزی (تومان)
                        </td>
                        <td>
                            وضعیت واریزی
                        </td>
                        <td>
                            تاریخ واریزی
                        </td>
                        <td>
                            جزئیات
                        </td>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="border-left">
                                <img class="thumbnail img-thumbnail w-75 p-0" src="https://hamafarin.ir/Images/BusinessPlans/Thumb/d5f41796-3422-4382-9b0f-3a7f57209cbf.jpg" />
                            </td>
                            <td class="border-left">
                                @item.BusinessPlanName
                            </td>
                            <td class="border-left">
                                @item.CompanyName
                            </td>
                            <td class="border-left">
                                @item.BusinessPlanStatus
                            </td>
                            <td class="border-left">
                                @item.BusinessPlanPayment.ToString("#,##0")
                            </td>
                            <td class="border-left">
                                @item.PaymentStatus
                            </td>
                            <td class="border-left">
                                @item.PaymentDate.ToString("yyyy/MM/dd")
                            </td>
                            <td>
                                <a class="glyphicon glyphicon-circle-arrow-left pt-4" href="/UserPanel/UserPaymentBusinessPlan/SinglePaymentBusinessPlan/@item.PaymentBusine_id" style="text-decoration:none;color: #81858b;font-size:15px;"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@
        int count = 5;


        if (Request.Browser.IsMobileDevice)
        {
            count = 3;
        }
        <input class="hidden-input-paging" type="hidden" value="@ViewBag.Count" />
        <div class="row pb-4">
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-4 my-3">
                    <div class="card">
                        <img src="~/Images/BusinessPlans/Thumb/@item.ImageName" class="user-payment-img" alt="test">
                        <div class="list-group list-group-flush" style="text-align: justify;">
                            <h2 class="card-title text-muted list-group-item small">
                                @item.BusinessPlanName
                            </h2>
                            <div class="text-dark small py-2">
                                <svg height="25px" width="25px" viewBox="0 0 448 448" fill="#d0aa45" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m400 192h-360v16h376v-184h-16zm0 0" />
                                    <path d="m384 0h-384v176h384zm-16 136h-8c-8.835938 0-16 7.164062-16 16v8h-304v-8c0-8.835938-7.164062-16-16-16h-8v-96h8c8.835938 0 16-7.164062 16-16v-8h304v8c0 8.835938 7.164062 16 16 16h8zm0 0" />
                                    <path d="m448 240v-184h-16v168h-360v16zm0 0" />
                                    <path d="m192 64c-.535156 0-1.046875.015625-1.535156.046875-13.078125.828125-23.074219 11.996094-22.457032 25.085937.621094 13.089844 11.625 23.265626 24.722657 22.855469 13.097656-.410156 23.449219-11.25 23.246093-24.355469-.199218-13.101562-10.871093-23.621093-23.976562-23.632812zm0 0" />
                                    <path d="m329.015625 32h-274.03125c-2.933594 11.257812-11.726563 20.050781-22.984375 22.984375v66.03125c11.257812 2.933594 20.050781 11.726563 22.984375 22.984375h274.03125c2.933594-11.257812 11.726563-20.050781 22.984375-22.984375v-66.03125c-11.257812-2.933594-20.050781-11.726563-22.984375-22.984375zm-209.015625 64h-48v-16h48zm102.007812 18.457031c-7.003906 7.976563-16.90625 12.828125-27.503906 13.464844-.855468.054687-1.703125.078125-2.558594.078125-18.84375-.03125-35.109374-13.203125-39.054687-31.628906-3.941406-18.421875 5.507813-37.101563 22.6875-44.839844 17.175781-7.742188 37.429687-2.441406 48.613281 12.71875 11.1875 15.160156 10.277344 36.074219-2.183594 50.207031zm89.992188-18.457031h-48v-16h48zm0 0" />
                                    <path d="m208 356.800781v11.199219c0 4.640625 19.625 16 56 16s56-11.359375 56-16v-11.199219c-17.574219 7.941407-36.726562 11.769531-56 11.199219-19.273438.570312-38.425781-3.257812-56-11.199219zm0 0" />
                                    <path d="m208 324.800781v11.199219c0 4.640625 19.625 16 56 16s56-11.359375 56-16v-11.199219c-17.574219 7.941407-36.726562 11.769531-56 11.199219-19.273438.570312-38.425781-3.257812-56-11.199219zm0 0" />
                                    <path d="m392 416c36.375 0 56-11.359375 56-16v-11.199219c-17.574219 7.941407-36.726562 11.769531-56 11.199219-19.273438.570312-38.425781-3.257812-56-11.199219v11.199219c0 4.640625 19.625 16 56 16zm0 0" />
                                    <path d="m208 292.800781v11.199219c0 4.640625 19.625 16 56 16s56-11.359375 56-16v-11.199219c-17.574219 7.941407-36.726562 11.769531-56 11.199219-19.273438.570312-38.425781-3.257812-56-11.199219zm0 0" />
                                    <path d="m448 336c0-8.835938-25.070312-16-56-16s-56 7.164062-56 16 25.070312 16 56 16 56-7.164062 56-16zm0 0" />
                                    <path d="m392 384c36.375 0 56-11.359375 56-16v-11.199219c-17.574219 7.941407-36.726562 11.769531-56 11.199219-19.273438.570312-38.425781-3.257812-56-11.199219v11.199219c0 4.640625 19.625 16 56 16zm0 0" />
                                    <path d="m80 324.800781v11.199219c0 4.640625 19.625 16 56 16s56-11.359375 56-16v-11.199219c-17.574219 7.941407-36.726562 11.769531-56 11.199219-19.273438.570312-38.425781-3.257812-56-11.199219zm0 0" />
                                    <path d="m80 388.800781v11.199219c0 4.640625 19.625 16 56 16s56-11.359375 56-16v-11.199219c-17.574219 7.941407-36.726562 11.769531-56 11.199219-19.273438.570312-38.425781-3.257812-56-11.199219zm0 0" />
                                    <path d="m208 388.800781v11.199219c0 4.640625 19.625 16 56 16s56-11.359375 56-16v-11.199219c-17.574219 7.941407-36.726562 11.769531-56 11.199219-19.273438.570312-38.425781-3.257812-56-11.199219zm0 0" />
                                    <path d="m80 356.800781v11.199219c0 4.640625 19.625 16 56 16s56-11.359375 56-16v-11.199219c-17.574219 7.941407-36.726562 11.769531-56 11.199219-19.273438.570312-38.425781-3.257812-56-11.199219zm0 0" />
                                    <path d="m80 420.800781v11.199219c0 4.640625 19.625 16 56 16s56-11.359375 56-16v-11.199219c-17.574219 7.941407-36.726562 11.769531-56 11.199219-19.273438.570312-38.425781-3.257812-56-11.199219zm0 0" />
                                    <path d="m208 420.800781v11.199219c0 4.640625 19.625 16 56 16s56-11.359375 56-16v-11.199219c-17.574219 7.941407-36.726562 11.769531-56 11.199219-19.273438.570312-38.425781-3.257812-56-11.199219zm0 0" />
                                    <path d="m192 304c0-8.835938-25.070312-16-56-16s-56 7.164062-56 16 25.070312 16 56 16 56-7.164062 56-16zm0 0" />
                                    <path d="m392 448c36.375 0 56-11.359375 56-16v-11.199219c-17.574219 7.941407-36.726562 11.769531-56 11.199219-19.273438.570312-38.425781-3.257812-56-11.199219v11.199219c0 4.640625 19.625 16 56 16zm0 0" />
                                    <path d="m320 272c0-8.835938-25.070312-16-56-16s-56 7.164062-56 16 25.070312 16 56 16 56-7.164062 56-16zm0 0" />
                                </svg>
                                <span>
                                    سرمایه شما
                                </span>
                                <span>
                                    @item.BusinessPlanPayment.ToString("#,##0")
                                </span>
                                <span>
                                    تومان
                                </span>
                            </div>
                            <div class="text-dark small py-2">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25px" height="25px" x="0px" y="0px" fill="#d0aa45"
                                     viewBox="0 0 383.104 383.104" style="enable-background:new 0 0 383.104 383.104;" xml:space="preserve">
                                <path d="M261.127,300.23L160,199.103V56.104c0-8.998-7.397-16.101-16.176-16.101c-0.606,0-1.215,0.034-1.83,0.102
			                            C56.279,49.705-8.963,127.022,1.008,217.318c8.213,74.37,69.498,134.329,144.014,141.103c5.037,0.458,10.037,0.682,14.978,0.682
			                            c37.809,0,72.549-13.112,99.932-35.038C267.352,318.124,267.848,306.952,261.127,300.23z M160,343.103
			                            c-4.477,0-9.03-0.207-13.53-0.616C79.931,336.438,24.234,281.873,16.91,215.562C8.167,136.395,65.079,64.818,143.775,56.006
			                            l0.049-0.003L144,56.104c0,61.702,0,96.116,0,149.627c7.496,7.496-9.016-9.004,105.93,105.845
			                            C224.172,332.202,193.074,343.103,160,343.103z" />
                                <path d="M367,215.103H262.627c-14.254,0-21.393,17.234-11.314,27.314l73.801,73.8c3.158,3.158,7.285,4.713,11.397,4.713
			                            c4.69,0,9.359-2.026,12.541-6.006c18.351-22.961,30.512-51.087,33.951-81.849C384.069,223.53,376.606,215.103,367,215.103z
			                             M336.428,304.904l-73.801-73.8H367l0.102,0.195C364.09,258.235,353.527,283.698,336.428,304.904z" />
                                <path d="M351.002,165.131c-8.271-74.006-67.023-132.758-141.03-141.03c-0.61-0.068-1.218-0.102-1.818-0.102
			                            C199.383,24,192,31.114,192,40.103v127.001c0,8.836,7.164,15.999,16,15.999h127C344.606,183.103,352.07,174.676,351.002,165.131z
			                             M207.992,40.11c0.014-0.026,0.098-0.111,0.162-0.111c5.783,0.646,11.426,1.766,16.992,3.094l-17.154,17.154L207.992,40.11
			                            L207.992,40.11z M207.998,124.242l-0.004-41.371l34.518-34.518c9.672,3.666,18.812,8.41,27.386,13.988L207.998,124.242z
			                             M208,167.103v-20.238l74.986-74.987c7.553,6.21,14.451,13.167,20.619,20.757l-74.469,74.469H208z M251.761,167.103l61.329-61.328
			                            c5.539,8.622,10.213,17.825,13.828,27.547l-33.782,33.781H251.761z M315.762,167.103l16.34-16.342
			                            c1.24,5.358,2.289,10.783,2.898,16.342H315.762z" />
                                </svg>
                                <span>
                                    وضعیت طرح
                                </span>
                                <span class="text-success">
                                    @item.BusinessPlanStatus
                                </span>
                            </div>
                            <a href="/UserPanel/UserPaymentBusinessPlan/SinglePaymentBusinessPlan/@item.PaymentBusine_id" class="btn btn-orange user-payment-btn">جزئیات سرمایه گذاری</a>
                        </div>
                    </div>
                </div>

            }
        </div>
        @Html.PagedListPager(Model, page => Url.Action("index", new { page }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = count });

    }
    else
    {
        <div class="container">
            <p>
                موردی ثبت نشده است
            </p>
        </div>
    }
</div>
