@model DataLayer.Tbl_ShareHoldersCompany
@{
    ViewBag.Title = "SingleShareHolder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- slider start -->
@Html.Action("OtherPageSlider", "Slider", new { sliderPageId = (int)SliderPages.INVESTMENT_PROCESS })
<!-- slider end -->

<div class="container">
    <center>
        <!-- Title -->
        <h1 class="mt-4 blog-title">@Model.ShareHolderTitle</h1>

        <hr>

        <!-- Date/Time -->
        <span class="text-center"> @Model.Description</span>

        <hr>

        <!-- Preview Image -->
        @{ if (Model.ImageName != null)
            {
                <img class="img-fluid rounded" src="~/Images/ShareHolders/Image/@Model.ImageName" alt="@Model.ShareHolderTitle">
            }
        }
        <!-- Preview Image -->
        <img class="img-fluid rounded" src="~/Images/ShareHolders/Logo/@Model.LogoIcon" alt="@Model.ShareHolderTitle">

        <hr>

    </center>

    <!-- Post Content -->
    <p>@Html.Raw(Model.FullText)</p>



</div>
