@model IEnumerable<DataLayer.View_DepositToInvestorsDetails>

@{
    ViewBag.Title = "جزییات واریزی";
}

<h5 class="mb-4">@ViewBag.Title</h5>

<table class="table" id="investors">
    <thead>
        <tr>
            <th>ردیف</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>کد ملی</th>
            <th>موبایل</th>
            <th>ش حساب شبا</th>
            <th>مبلغ واریزی</th>
        </tr>
    </thead>
    <tbody>

        @{var index = 1; }
        @foreach (var investors in Model)
        {
            <tr>
                <td>@index</td>
                @if (string.IsNullOrEmpty(investors.CompanyName))
                {
                    <td>@investors.FirstName</td>
                }
                else
                {
                    <td></td>
                }
                @if (string.IsNullOrEmpty(investors.CompanyName))
                {
                    <td>@investors.LastName</td>
                }
                else
                {
                    <td>@investors.CompanyName</td>
                }
                @if (string.IsNullOrEmpty(investors.NationalId))
                {
                    <td>@investors.NationalCode</td>
                }
                else
                {
                    <td>@investors.NationalId</td>
                }
                <td>@investors.MobileNumber</td>
                <td>@investors.AccountSheba</td>
                <td>@investors.DepositAmount.Value.ToString("N0")</td>
            </tr>
            { index++; }
        }
    </tbody>
</table>

