@model IEnumerable<DataLayer.Tbl_DepositToInvestors>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "لیست واریزی به سرمایه گذاران";
}

<div class="card-header">
    <h2>@ViewBag.Title</h2>
</div>

@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(model => model.Tbl_BussinessPlans.Title);
        columns.Bound(model => model.DepositDate).Format("{0:yyy/MM/dd HH:mm}");
        columns.Bound(model => model.Tbl_DepositTypes.DepositTypeName);
        columns.Bound(model => model.YieldPercent);
        columns.Bound(model => model.TotalDeposit).Format("{0:n0}");
        columns.Bound(model => model.Description);
        columns.Bound(model => model.IsPaid);
        columns.Bound(item => @item.DepositID).Title("دستورات").Filterable(false).Groupable(false)
            .Template(@<text>
                    @Html.ActionLink("جزییات", "Details", new { id = @item.DepositID }, new { @class = "k-button k-button-icontext k-grid-Edit" })
                    @if (item.IsPaid == false)
                    {
                        <a id="confirm" class="btn btn-outline-danger btn-sm" onclick="confirmDeposit(@item.DepositID)">تایید پرداخت</a>
                    }
                    <a href="@Url.Action("ExcelReport")/@item.DepositID" class="btn btn-sm btn-info">گزارش</a>
                </text>).Width(200).Width(100);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Custom().Action("Create", "Tbl_DepositToInvestors").Text("افزودن");
    })
    .Groupable()
    .Pageable()
    .Sortable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Server()
        .Model(model => model.Id(item => item.DepositID))
    )
)

@section Scripts {
    <script>
        function confirmDeposit(id) {
            Swal.fire({
                icon: 'warning',
                title: 'توجه',
                text: 'آیا از تایید تراکنش و ارسال پیامک به تمامی سرمایه گذاران این طرح مطمئن هستید؟',
                showCancelButton: true,
                confirmButtonText: `بله`,
                cancelButtonText: 'خیر',
                confirmButtonColor: '#d0aa45',
            }).then((result) => {
                if (result.isConfirmed) {
                    const confirmBtn = $('#confirm');
                    confirmBtn.addClass("disabled");
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Tbl_DepositToInvestors/ConfirmDeposit/" + id,
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                                confirmBtn.hide();
                            }
                            else {
                                toastr.error(data.message);
                                confirmBtn.removeClass("disabled");
                            }
                        }
                    });
                }
            });
        }
    </script>
}