@model DataLayer.Tbl_BusinessPlanPayment

@{
    ViewBag.Title = "جزئیات پرداخت";
}

<div class="card-header">
    <h2>@ViewBag.Title</h2>
</div>
<br />
<div>
    <p>
        @if (Model.IsConfirmedFromFaraboors == false)
        {
            @Html.ActionLink("ویرایش", "Edit", new { id = Model.PaymentID }, new { @class = "btn btn-info" }) <span>|</span>
        }
        @Html.ActionLink("بازگشت به لیست", "Index")
    </p>

    <div class="card">
        <div class="card-header">
            @Html.DisplayNameFor(model => model.IsPaid)
        </div>
        <div class="card-body">
            <p class="card-text">
                @Html.DisplayFor(model => model.IsPaid)
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">
            @Html.DisplayNameFor(model => model.IsConfirmedFromAdmin)
        </div>
        <div class="card-body">
            <p class="card-text">
                @Html.DisplayFor(model => model.IsConfirmedFromAdmin)
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">
            @Html.DisplayNameFor(model => model.PaidDateTime)
        </div>
        <div class="card-body">
            <p class="card-text">
                @Html.DisplayFor(model => model.PaidDateTime)
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">
            @Html.DisplayNameFor(model => model.CreateDate)
        </div>
        <div class="card-body">
            <p class="card-text">
                @Html.DisplayFor(model => model.CreateDate)
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">
            @Html.DisplayNameFor(model => model.TransactionPaymentCode)
        </div>
        <div class="card-body">
            <p class="card-text">
                @Html.DisplayFor(model => model.TransactionPaymentCode)
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">
            @Html.DisplayNameFor(model => model.PaymentPrice)
        </div>
        <div class="card-body">
            <p class="card-text">
                @Html.DisplayFor(model => model.PaymentPrice)
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">
            @Html.DisplayNameFor(model => model.PaymentImageName)
        </div>
        <div class="card-body">
            <img class="card-img-top" src="\Images\PaymentImages\@Model.PaymentImageName">
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">
            نوع پرداخت
        </div>
        <div class="card-body">
            <p class="card-text">
                @Html.DisplayFor(model => model.Tbl_PaymentType.PaymentTitle)
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">
            کاربر ایجاد کننده
        </div>
        <div class="card-body">
            <p class="card-text">
                @Html.DisplayFor(model => model.Tbl_Users.UserName)
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">
            کاربر پرداخت کننده
        </div>
        <div class="card-body">
            <p class="card-text">
                @Html.DisplayFor(model => model.Tbl_Users1.UserName)
            </p>
        </div>
    </div>
    <br />

    <div class="card">
        <div class="card-header">
            @Html.DisplayNameFor(model => model.Tbl_BussinessPlans.Title)
        </div>
        <div class="card-body">
            <p class="card-text">
                @Html.DisplayFor(model => model.Tbl_BussinessPlans.Title)
            </p>
        </div>
    </div>
    <br />

    @if (Model.IsConfirmedFromFaraboors == true)
    {
        <div class="card">
            <div class="card-header">
                @Html.DisplayNameFor(model => model.FaraboorsConfirmDate)
            </div>
            <div class="card-body">
                <p class="card-text">
                    @Html.DisplayFor(model => model.FaraboorsConfirmDate)
                </p>
            </div>
        </div>
        <br />

        <div class="card">
            <div class="card-header">
                @Html.DisplayNameFor(model => model.FaraboorsResponse)
            </div>
            <div class="card-body">
                <p class="card-text">
                    @Html.DisplayFor(model => model.FaraboorsResponse)
                </p>
            </div>
        </div>
        <br />
    }
    else
    {
        <div class="card">
            <div class="card-header">
                @Html.DisplayNameFor(model => model.IsConfirmedFromFaraboors)
            </div>
            <div class="card-body">
                @if (Model.IsConfirmedFromAdmin && Model.IsPaid)
                {
                    <div class="col-md-10">
                        <a id="ConfirmFaraboors" class="btn btn-primary text-white" onclick="confirmFaraboors(@Model.PaymentID, '@ViewBag.PaymentDate', '@ViewBag.PaymentTime')">ارسال پرداخت به فرابورس</a>
                    </div>
                }
                else
                {
                    <div class="col-md-10">
                        <p>برای ارسال به فرابورس ادمین باید اول پرداخت را تایید کند</p>
                    </div>
                }
            </div>
        </div>
        <br />

    }
</div>

@section Scripts{
    <script>
        function confirmFaraboors(id, date, time) {
            Swal.fire({
                icon: 'warning',
                title: 'توجه',
                text: 'آیا ازارسال پرداخت به فرابورس مطمئن هستید؟',
                showCancelButton: true,
                confirmButtonText: `بله`,
                cancelButtonText: 'خیر',
                confirmButtonColor: '#d0aa45',
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#ConfirmFaraboors').addClass("disabled");
                    const miladiDate = moment.from(date, 'fa', 'DD-MM-YYYY').format('YYYY-MM-DD');
                    const paidDateTime = miladiDate + "T" + time + ".000Z";
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Tbl_BusinessPlanPayment/ConfirmFaraboors/" + id,
                        data: {
                            //example: payDate: "2021-07-14T11:48:27.974Z"
                            payDate: paidDateTime
                        },
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                            }
                            else {
                                toastr.error(data.message);
                            }
                        }
                    });
                }
            });
        }

    </script>
}