@model IEnumerable<DataLayer.Tbl_BusinessPlanPayment>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "پرداخت های ارسال نشده به فرابورس";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
      .Name("Grid")
      .Columns(columns =>
          {
                        columns.Bound(model => model.IsPaid);
columns.Bound(model => model.PaidDateTime);
columns.Bound(model => model.TransactionPaymentCode);
columns.Bound(item => item.PaymentType_id).Filterable(false).Groupable(false)
    .Template(@<text>
        @if (item.PaymentType_id == 2)
        {
            <p>درگاه</p>
        }
        else if (item.PaymentType_id == 3)
        {
            <p>فیش</p>
        }
    </text>);
columns.Bound(model => model.PaymentPrice);
columns.Bound(model => model.Tbl_Users.UserName);
columns.Bound(model => model.Tbl_BussinessPlans.Title);
            columns.Bound(item => @item.PaymentID).Title("دستورات").Filterable(false).Groupable(false)
                    .Template(@<text>
                @Html.ActionLink("جزییات", "Details", new { id = @item.PaymentID }, new { @class = "k-button k-button-icontext k-grid-Edit" })
                @Html.ActionLink("حذف", "Delete", new { id = @item.PaymentID }, new { @class = "k-button k-button-icontext k-grid-Delete" })
                    </text>).Width(200);
})
.ToolBar(toolbar =>
{
toolbar.Custom().Action("Create", "Tbl_BusinessPlanPayment").Text("افزودن");
}
)
.Groupable()
.Pageable()
.Sortable()
.Filterable()
.DataSource(dataSource => dataSource
.Server()

.Model(model => model.Id(item => item.PaymentID))
)
)
