@model IEnumerable<DataLayer.Tbl_BusinessPlanPayment>
@using Kendo.Mvc.UI


<h2>سرمایه گذاری های @ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
      .Name("Grid")
      .Columns(columns =>
          {
                        columns.Bound(model => model.IsPaid);
columns.Bound(model => model.PaidDateTime);
columns.Bound(model => model.TransactionPaymentCode);
columns.Bound(model => model.IsPaid);
columns.Bound(model => model.IsConfirmedFromAdmin);
columns.Bound(model => model.PaymentPrice);
columns.Bound(model => model.Tbl_Users.UserName);
columns.Bound(model => model.Tbl_BussinessPlans.Title);
            columns.Bound(item => @item.PaymentID).Title("دستورات").Filterable(false).Groupable(false)
                    .Template(@<text>
                @Html.ActionLink("ویرایش", "Edit", new { id = @item.PaymentID }, new { @class = "k-button k-button-icontext k-grid-Edit" })
                @Html.ActionLink("حذف", "Delete", new { id = @item.PaymentID }, new { @class = "k-button k-button-icontext k-grid-Delete" })
                    </text>).Width(200);
})
.Groupable()
.Pageable()
.Sortable()
.Filterable()
.DataSource(dataSource => dataSource
.Server()

.Model(model => model.Id(item => item.PaymentID))
)
)
