@model IEnumerable<ViewModels.UserBusinessPlanViewModel>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "فهرست طرح های تجاری";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(item => @item.BussinessPlanID).Title("تصویر").Filterable(false).Groupable(false)
                        .Template(@<text>
                                <img class="thumbnail" src="/Images/BusinessPlans/Thumb/@item.ImageNameInListPalns" style="max-width: 150px" />
                        </text>);
        columns.Bound(model => model.Title);
        columns.Bound(model => model.TotalInvestmentPrice);
        columns.Bound(model => model.IsActive);
        @*columns.Bound(item => @item.BussinessPlanID).Title("دستورات").Filterable(false).Groupable(false)
            .Template(@<text>
                    @Html.ActionLink("پرداخت ها", "Index", "Payments", new { id = @item.BussinessPlanID }, new { @class = "k-button k-button-icontext k-grid-Submit" })
        </text>).Width(200);*@
    })
    .ToolBar(toolbar =>
    {
        toolbar.Custom().Action("Create", "Tbl_BussinessPlans").Text("افزودن");
    })
    .Groupable()
    .Pageable()
    .Sortable()
    .Filterable()
    .DataSource(dataSource => dataSource
    .Server()
    .Model(model => model.Id(item => item.BussinessPlanID))
)
)
