@model IEnumerable<DataLayer.Tbl_BussinessPlans>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "فهرست طرح های تجاری";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
      .Name("Grid")
      .Columns(columns =>
          {
 columns.Bound(item => @item.BussinessPlanID).Title("تصویر").Filterable(false).Groupable(false)
                            .Template(@<text>
                                    <img class="thumbnail" src="/Images/BusinessPlans/Thumb/@item.ImageNameInListPalns" style="max-width: 150px" />
                            </text>);
columns.Bound(model => model.Title);
columns.Bound(model => model.IsActive);
columns.Bound(item => @item.BussinessPlanID).Title("دستورات").Filterable(false).Groupable(false)
.Template(@<text>
            @Html.ActionLink("ویرایش", "Edit", new { id = @item.BussinessPlanID }, new { @class = "k-button k-button-icontext k-grid-Edit" })
            @Html.ActionLink("حذف", "Delete", new { id = @item.BussinessPlanID }, new { @class = "k-button k-button-icontext k-grid-Delete" })
            <a class="k-button k-button-icontext k-grid-Insert" href="/Admin/Tbl_BusinessPlanPayment/Index/@item.BussinessPlanID">پرداخت ها</a>
            <a class="k-button k-button-icontext k-grid-Insert" href="/Admin/Tbl_BusinessPlanPayment/DraftsPayments/@item.BussinessPlanID">پرداخت های ناقص</a>
            <a class="k-button k-button-icontext k-grid-Insert" href="/Admin/Tbl_BusinessPlanPayment/SubmittedPayments/@item.BussinessPlanID">پرداخت های تایید نشده</a>
            <a class="k-button k-button-icontext k-grid-Insert" href="/Admin/Tbl_BusinessPlanPayment/UnSubmittedPayments/@item.BussinessPlanID">پرداخت های تایید شده</a>
</text>).Width(200);

})
.ToolBar(toolbar =>
{
toolbar.Custom().Action("Create", "Tbl_BussinessPlans").Text("افزودن");
}
)
.Groupable()
.Pageable()
.Sortable()
.Filterable()
.DataSource(dataSource => dataSource
.Server()

.Model(model => model.Id(item => item.BussinessPlanID))
)
)
