@model DataLayer.Tbl_CommentPlan


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CommentID)
        @Html.HiddenFor(model => model.Parent_id)
        @Html.HiddenFor(model => model.CreateDate)
        @Html.HiddenFor(model => model.IsDeleted)

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BusinessPlan_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BusinessPlan_id", String.Empty)
                @Html.ValidationMessageFor(model => model.BusinessPlan_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("User_id", String.Empty)
                @Html.ValidationMessageFor(model => model.User_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CommentText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CommentText)
                @Html.ValidationMessageFor(model => model.CommentText)
            </div>
        </div>

        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت" class="btn btn-primary" />
				@Html.ActionLink("بازگشت به فهرست", "Index")
            </div>
        </div>
    </div>
}

