@model ViewModels.UserProfileViewModel
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "ایجاد پروفایل";
}
<body>
    <h4 class="pb-3">تکمیل اطلاعات حقوقی</h4>
    <hr />
    @using (Html.BeginForm("Create", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal pt-3" style="font-size:13px">
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <span class="control-label col-md-6 " style="color:#00b4d8;font-size:16px"> اطلاعات نماینده حقوقی </span>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Profile.MobileNumber, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Profile.MobileNumber)
                            @Html.ValidationMessageFor(model => model.Profile.MobileNumber)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Profile.FirstName, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Profile.FirstName)
                            @Html.ValidationMessageFor(model => model.Profile.FirstName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Profile.LastName, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Profile.LastName)
                            @Html.ValidationMessageFor(model => model.Profile.LastName)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Gender)
                            @Html.DropDownList("Gender")
                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NationalCode, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.NationalCode, new { htmlAttributes = new { @class = "form-control", @uifocus = "focus", maxlength = "10" } })
                            @Html.ValidationMessageFor(model => model.NationalCode)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Profile.ProfileNationalId, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Profile.ProfileNationalId)
                            @Html.ValidationMessageFor(model => model.Profile.ProfileNationalId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Profile.FatherName, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Profile.FatherName)
                            @Html.ValidationMessageFor(model => model.Profile.FatherName)
                        </div>
                    </div>

                    <div class="container">
                        @Html.LabelFor(model => model.Profile.BirthDate, new { @class = "control-label col-md-6" })
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cursor-pointer btn btn-success" id="BirthDateYMD">انتخاب تاریخ</span>
                                        <label id="showDate_class" class="m-3">
                                            @*@Html.DisplayFor(model => model.dtBrithDateYMD)*@
                                        </label>
                                    </div>
                                </div>

                                <input type="text" id="strBirthDate" name="strBirthDate">

                                @Html.ValidationMessageFor(model => model.strBirthDate, null, new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="form-group">
                        @Html.LabelFor(model => model.Profile.Email, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Profile.Email)
                            @Html.ValidationMessageFor(model => model.Profile.Email)
                        </div>
                    </div>

                </div>

                <div class="col-12 col-lg-6 col-xl-6">
                    <div class="form-group">
                        <span class="control-label col-md-6 " style="color:#00b4d8;font-size:16px"> اطلاعات شخص حقوقی </span>
                    </div>
                    <hr class="d-lg-none d-xl-none d-md-none" />
                    <div class="form-group">
                        @Html.LabelFor(model => model.PersonLegal.CompanyName, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.PersonLegal.CompanyName)
                            @Html.ValidationMessageFor(model => model.PersonLegal.CompanyName)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PersonLegal.NationalId, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.PersonLegal.NationalId)
                            @Html.ValidationMessageFor(model => model.PersonLegal.NationalId)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PersonLegal.RegistratioNumber, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.PersonLegal.RegistratioNumber)
                            @Html.ValidationMessageFor(model => model.PersonLegal.RegistratioNumber)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PersonLegal.EconomicCode, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.PersonLegal.EconomicCode)
                            @Html.ValidationMessageFor(model => model.PersonLegal.EconomicCode)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Profile.SejamCode, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Profile.SejamCode)
                            @Html.ValidationMessageFor(model => model.Profile.SejamCode)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Profile.AccountNumber, new { @class = "control-label col-md-6", id = "Profile_AccountNumber" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Profile.AccountNumber)
                            @Html.ValidationMessageFor(model => model.Profile.AccountNumber)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Profile.AccountSheba, new { @class = "control-label col-md-6", id = "Profile_AccountSheba" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Profile.AccountSheba)
                            @Html.ValidationMessageFor(model => model.Profile.AccountSheba)
                        </div>
                    </div>




                    <div class="form-group">
                        @Html.LabelFor(model => model.PersonLegal.Address, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.PersonLegal.Address)
                            @Html.ValidationMessageFor(model => model.PersonLegal.Address)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            موارد زیر در یک فایل فشرده (zip) بارگزاری شود:
                            <ol>
                                <li>روز نامه رسمی آخرین تغییرات</li>
                                <li>روزنامه رسمی صاحبان امضای مجاز</li>
                            </ol>
                        </div>
                        @Html.LabelFor(model => model.PersonLegal.LegalFile, new { @class = "control-label col-md-6" })
                        <div class="col-md-12">
                            @Html.Kendo().Upload().Name("legalFile")
                            @Html.ValidationMessageFor(model => model.PersonLegal.LegalFile)
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="form-group row" id="buttons">
                <div class="d-md-block d-sm-none col-md-6">
                </div>
                <div class="col-12 col-md-6 text-center">
                    <input type="submit" value="ثبت اطلاعات" class="btn btn-danger control-label" style="background-color:#ff1654" />
                </div>
            </div>
        </div>
    }

</body>


@section Scripts{
    <script src="~/Areas/UserPanel/Content/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.md.bootstrap.datetimepicker.js"></script>


    <script>
        $("#BirthDateYMD").MdPersianDateTimePicker({
            targetTextSelector: "#strBirthDate",
            textFormat: "yyyy-MM-dd",
            isGregorian: false,
            modalMode: false,
            englishNumber: false,
        });
    </script>

}

