@model DataLayer.Tbl_UserProfiles

@{
    ViewBag.Title = "افزودن " + Server.HtmlDecode(Html.DisplayNameFor(model => model).ToString());
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>افزودن @Html.DisplayNameFor(model => model)</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        @Html.ValidationSummary(true)

        <div class="form-group">
			<div class="col-md-2">
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
				@Html.LabelFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
			<div class="col-md-2">
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsDeleted)
				@Html.LabelFor(model => model.IsDeleted)
                @Html.ValidationMessageFor(model => model.IsDeleted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate)
                @Html.ValidationMessageFor(model => model.CreateDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_id, "User_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("User_id", String.Empty)
                @Html.ValidationMessageFor(model => model.User_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MobileNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MobileNumber)
                @Html.ValidationMessageFor(model => model.MobileNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImageName)
                @Html.ValidationMessageFor(model => model.ImageName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bio)
                @Html.ValidationMessageFor(model => model.Bio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NationalCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NationalCode)
                @Html.ValidationMessageFor(model => model.NationalCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FatherName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherName)
                @Html.ValidationMessageFor(model => model.FatherName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfileNationalId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProfileNationalId)
                @Html.ValidationMessageFor(model => model.ProfileNationalId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SejamCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SejamCode)
                @Html.ValidationMessageFor(model => model.SejamCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountNumber)
                @Html.ValidationMessageFor(model => model.AccountNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountSheba, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccountSheba)
                @Html.ValidationMessageFor(model => model.AccountSheba)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BirthDate)
                @Html.ValidationMessageFor(model => model.BirthDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlaceOfIssue, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlaceOfIssue)
                @Html.ValidationMessageFor(model => model.PlaceOfIssue)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlaceOfBirth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlaceOfBirth)
                @Html.ValidationMessageFor(model => model.PlaceOfBirth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SignitureFile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SignitureFile)
                @Html.ValidationMessageFor(model => model.SignitureFile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strSejamResponse, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strSejamResponse)
                @Html.ValidationMessageFor(model => model.strSejamResponse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strBirthDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strBirthDate)
                @Html.ValidationMessageFor(model => model.strBirthDate)
            </div>
        </div>

        <div class="form-group" id="buttons">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ایجاد" class="btn btn-primary" />
				@Html.ActionLink("بازگشت به فهرست", "Index")
            </div>
        </div>
    </div>
}

