@model List<DataLayer.Tbl_Tickets>

@{
    ViewBag.Title = "تیکت";

    var qParentTicket = Model.Where(m => m.Parent_id == null).FirstOrDefault();
}

<div class="container">
    <div class="row">

        <div class="col-12 col-md-6">
            <span>وضعیت تیکت: </span>
            @if (qParentTicket.IsClosed == true)
            {

                <span class="alert alert-danger">بسته</span>
            }
            else
            {
                <span class="alert alert-success">باز</span>
            }
            <br />

        </div>
        <div class="col-12 col-md-6">
            کاربر:@qParentTicket.Tbl_Users.MobileNumber
            <br />
            <span>تاریخ ایجاد:</span>@qParentTicket.CreateDateTime.Value.ToString("HH:mm:ss yyyy/MM/dd")
            <br />
            <span>موضوع: </span>@qParentTicket.Subject

        </div>


    </div>

</div>
<hr />
<!--TicketDetails-->
<div class="container-fluid">
    <div class="col-12">

        <a href="/UserPanel/Tickets/Create?parentId=@qParentTicket.TicketID" class="btn btn-orange">
            پاسخ
        </a>
        <hr />
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-12">
                <div id="panel@(item.TicketID)" class="card shadow-sm border-0">
                    <div class="card-header border-0 @(item.UserCreate_id==1?"bg-orange text-white":"")">
                        نویسنده: @(item.UserCreate_id==1?"ادمین":item.Tbl_Users.MobileNumber)

                        <br />
                        @if (item.AttachFileName != null)
                        {<span class="fas fa-paperclip"></span>}

                        @*@(item.IsAdminChecked==false?"(در دست بررسی...)":"بررسی شده توسط مدیر سایت")*@
                    </div>
                    <div class="card-body">@item.Text</div>

                    <div class="card-footer border-0">
                        @item.CreateDateTime.Value.ToString("HH:mm:ss yyyy/MM/dd")
                        @if (item.AttachFileName != null)
                        {
                            <a href="@FileAddressesDirectoryPath.TicketFileDownloadUrl(item.AttachFileName)" class="btn btn-warning">دانلود فایل پیوست شده <span class="fas fa-download"></span></a>
                        }

                        @if (item.IsUserChecked == false)
                        {
                            <button id="btnChecked@(item.TicketID)" onclick="checkedTicket(@item.TicketID)" class="btn btn-success">
                                چک کردم
                            </button>
                        }
                    </div>

                </div>
            </div>

            <br />
        }
    </div>


</div>
<!--EndTicketDetails-->



<script>
    function checkedTicket(ticketId) {

        $.post("/UserPanel/Tickets/TicketUserChecked/" + ticketId).done(function () {
            $("#btnChecked" + ticketId).hide();
        })
            .fail(function () {
                alert("ثبت نشد");
            });
        //{

        //},
        //function (data, status) {
        //    alert("Data: " + data + "\nStatus: " + status);
        //    if (data == "OK") {
        //        $("#panel" + ticketId).removeClass("bg-danger");
        //        $("#panel" + ticketId).addClass("bg-success")
        //    }
        //    else {
        //        alert("ثبت نشد")
        //    }
        //});


    }
</script>