@model DataLayer.Tbl_BusinessPlanPayment

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tbl_BusinessPlanPayment</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsConfirmedFromAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsConfirmedFromAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionPaymentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionPaymentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentImageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_BussinessPlans.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_BussinessPlans.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_PaymentType.PaymentTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_PaymentType.PaymentTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Users.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Users.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Users1.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Users1.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
