@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style{
    <!--kendo-->
    <link href="~/Content/css/gly.css" rel="stylesheet" />
    @*<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.common-nova.min.css" rel="stylesheet" type="text/css" />
        <link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.nova.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @*<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.rtl.min.css" rel="stylesheet" type="text/css" />
        <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jquery.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jszip.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
        <script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.aspnetmvc.min.js"></script>*@
    <script defer src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script defer src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script defer src="~/Scripts/modernizr-2.8.3.js"></script>
    <script defer src="~/Areas/UserPanel/Content/js/popper.min.js"></script>
    <!--end kendo-->
    <link href="~/Areas/UserPanel/Content/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    @RenderSection("Style", false)
}
<div class="employe_dashboard_wrapper jb_cover py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-4 col-12">
                <div class="card border-0 shadow">
                    @Html.Action("_Menu", "UserPanel", new { area = "UserPanel" })
                </div>
            </div>
            <div class="col-lg-9 col-12 card p-0 border-0 shadow">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/Admin/Content/js/popper.min.js"></script>

@section Scripts{
    @RenderSection("Scripts", false)
}
