@model DataLayer.Tbl_MenuPage

<h2>افزودن منوی صفحات</h2>
<br />
<hr />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.MenuType_id)

    <div class="form-group">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.IsActive)
            @Html.LabelFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Url, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sort, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sort)
            @Html.ValidationMessageFor(model => model.Sort)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Page_id, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Page_id", String.Empty)
            @Html.ValidationMessageFor(model => model.Page_id)
        </div>
    </div>

    <div class="form-group" id="buttons">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ایجاد" class="btn btn-primary" />
            @Html.ActionLink("بازگشت به فهرست", "Index")
        </div>
    </div>
</div>
}

